#chessBoard .tile {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}

#chessBoard .black-tile {
  background: #779556;
}
#chessBoard .white-tile {
  background: #ebecd0;
}

.tile img {
  width: 80px;
}

.tile .chess-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}
