#chessBoard .tile {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}

#chessBoard .black-tile {
  background: #779556;
}
#chessBoard .white-tile {
  background: #ebecd0;
}

.tile img {
  width: 80px;
}
