#chessBoard {
  background-color: #779556;
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(8, 100px);
}

#chessBoard .tile {
  width: 100px;
  height: 100px;
}

#chessBoard .black-tile {
  background: #779556;
}
#chessBoard .white-tile {
  background: #ebecd0;
}
